


html {
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
}


.page-section__intro {


}



.intro-title {
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);
}