


$layout-page-width: 1600px;
$layout-inner-width: 1140px;
$layout-heading-top-height: 40px;
$layout-heading-main-height: 130px;
$layout-header-mobile-height: 60px;


$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-linkedin: #136d9d;


$color-nav: #262b37;
$color-nav-light: #c3c8d6;
$color-hilight: #C34B77;
$color-hilight: #7FA92F;
$color-light-text: #84868d;
$color-hilight: #9FD23D;
$color-grey-back: #F7F7F7;


$font-heading: adelle;
$font-normal: raleway;
