

$font-heading: 'Open Sans', sans;

@mixin text-heading-2 {
	font-family: $font-heading;
	font-size: 40px; 
	line-height: 1.1;
	font-weight: 700;
	text-transform: uppercase;
}

@mixin text-heading-3 {
	font-family: $font-heading;
	font-size: 24px; 
	line-height: 1.3;
	font-weight: 400;
}


@mixin text-heading-4 {
	font-family: $font-heading;
	font-size: 16px; 
	line-height: 1.1;
	font-weight: 700;
}



@mixin text-body {
	font-family: $font-heading;
	font-size: 16px; 
	line-height: 1.8;
	font-weight: 400;
}

@mixin text-heading-thick {
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: #474d5d;
}